@font-face {
  font-family: "pixelOperator";
  src: url(../../../assets/fonts/PixelOperator-Bold.ttf);
}

@import "../../../styles/global.scss";

.chart-container {
  height: 400px;
  font-size: 12px;
}

.detail-title {
  font-family: "pixelOperator";
  color: $color-title;
  font-size: 35px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 35px;
}

.responsiveContainer {
  margin: 0 auto;
}
