@font-face {
  font-family: "pixelOperator";
  src: url(../../../assets/fonts/PixelOperator-Bold.ttf);
}

.chart-container {
  height: 400px;
}

.detail-title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.responsiveContainer {
  margin: 0 auto;
}
