@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Defining color variables
$color-title: #181a1c;
$color-text: #32383d;
$color-border: #e5e5e5;
$color-body-bg: #f9f9f9;
$color-section-bg: #ffffff;
$color-component: #555e68;
$color-part: #eff2f5;
$color-subpart: #f0f4f8;

body {
  font-family: "Cousine", monospace;
  color: $color-text;
  background-color: $color-body-bg;
}

img {
  max-width: 100%;
  display: block;
}

.page-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1px;
}

a {
  color: $color-text;
  text-decoration: none;
}

a:visited {
  color: $color-text;
}
