@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cousine", monospace;
}

.page-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1px;
}

a {
  color: #25292e;
  text-decoration: none;
}

a:visited {
  color: #25292e;
}
