@font-face {
  font-family: "pixelOperator";
  src: url(../../assets/fonts/PixelOperator-Bold.ttf);
}

.event-header {
  width: 400px;
  background-color: #2e3747;
  color: white;
  padding: 15px 30px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.event-header-title {
  font-family: "pixelOperator";
  font-size: 20px;
  margin-bottom: 10px;
}

.event-header-content {
  display: flex;
}

.event-countdown {
  margin-right: 8px;
}

.event-countdown-number {
  font-size: 22px;
  font-weight: 700;
  margin-right: 1.8px;
}

.event-content {
  display: flex;
}

.event-sidebar {
  width: 150px;
  height: 100%;
  position: sticky;
  top: 40px;
  border: 2px dashed #2e3747;
  padding: 18px 16px;
  margin-left: 40px;
  ul {
    margin-top: 16px;
    list-style: none;
    text-align: center;
    li {
      margin-bottom: 16px;
    }
  }
}

.event-list {
  margin-left: 90px;
}

.event-section {
  border-bottom: medium dashed #2e3747;
  margin-bottom: 40px;
}

.event-section-header {
  font-family: "pixelOperator";
  font-size: 45px;
  margin-bottom: 40px;
}

.event-section-body {
  margin-bottom: 40px;
  .event-section-title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
