@font-face {
  font-family: "pixelOperator";
  src: url(../../assets/fonts/PixelOperator-Bold.ttf);
}
@import "../../styles/global.scss";

.section-quote {
  margin-bottom: 60px;
  .section-quote-title {
    font-family: "pixelOperator";
    font-size: 50px;
    color: $color-title;
    text-align: center;
  }
  .section-quote-quotes {
    width: 700px;
    background-color: $color-section-bg;
    border: 1px solid $color-border;
    margin: 40px auto 0 auto;
    padding: 55px 35px 25px 35px;
    font-size: 18px;
    blockquote {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: 1px solid $color-border;
    }
  }
}
