@font-face {
  font-family: "pixelOperator";
  src: url(../../assets/fonts/PixelOperator-Bold.ttf);
}

.section-quote {
  .section-quote-title {
    font-family: "pixelOperator";
    text-align: center;
    font-size: 60px;
  }
  .section-quote-quotes {
    margin-top: 55px;
    font-size: 20px;
    blockquote {
      width: 65%;
      margin: 0 auto;
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e5e7eb;
    }
  }
}
