@font-face {
  font-family: "pixelOperator";
  src: url(../../assets/fonts/PixelOperator-Bold.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap");

.header {
  font-family: "pixelOperator";
  background-color: #ffffff;
  font-size: 24px;
  line-height: 36px;
  padding: 10px 5px 10px 5px;
  margin: 0 0 50px 0;
  border-bottom: 1px solid #e5e5e5;
}

.header-stats {
  font-family: "Cousine", monospace;
  font-size: 12px;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 12px 24px;
  .nav-main,
  .nav-external {
    display: flex;
    align-items: center;
    list-style: none;
  }
}

.nav-item {
  margin-right: 50px;
  a {
    transition: all 0.3s ease;

    &:hover {
      color: #babdc0;
      border-bottom: 2px solid #babdc0;
    }
  }
}

.nav-logo-link {
  display: flex;
  img {
    width: 50px;
    height: 50px;
  }
}

.nav-item-external {
  margin-left: 22px;
}

.external-logo {
  height: 30px;
  width: 30px;
  display: block;
}
