@font-face {
  font-family: "pixelOperator";
  src: url(../../assets/fonts/PixelOperator-Bold.ttf);
}

.header {
  font-family: "pixelOperator";
  font-size: 26px;
  line-height: 36px;
  padding: 10px 15px;
  margin: 15px 0 50px 0;
  border-bottom: 1px solid #babdc0;
  border-top: 1px solid #babdc0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 12px 24px;
  .nav-main,
  .nav-external {
    display: flex;
    align-items: center;
    list-style: none;
  }
}

.nav-item {
  margin-right: 50px;
  a {
    transition: all 0.3s ease;

    &:hover {
      color: #f0b90a;
      border-bottom: 2px solid #f0b90a;
    }
  }
}

.nav-logo-link {
  display: flex;
  img {
    width: 55px;
    height: 55px;
  }
}

.nav-item-external {
  margin-right: 20px;
}

.external-logo {
  height: 30px;
  width: 30px;
  display: block;
}
