@font-face {
  font-family: "pixelOperator";
  src: url(../../assets/fonts/PixelOperator-Bold.ttf);
}
@import "../../styles/global.scss";

.news-width {
  padding: 0 20px;
}

.news-header {
  font-family: "pixelOperator";
  color: $color-title;
  font-size: 30px;
  margin-bottom: 30px;
}

.news-item {
  display: flex;
  align-items: center;
  padding: 32px 0;

  .article-image {
    padding: 0px 32px;
  }
  img {
    width: 300px;
    height: 170px;
    border-radius: 8px;
    object-fit: cover;
  }
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .article-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.6;
    padding: 0 16px;
  }
  .article-description {
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.6;
    padding: 0 16px;
  }
}

.btn-load-more {
  display: block;
  font-family: "pixelOperator";
  color: white;
  font-size: 28px;
  background-color: $color-component;
  border: none;
  margin: 20px auto 80px auto;
  padding: 10px 20px 10px 20px;
}

.up-btn {
  position: fixed;
  opacity: 0;
  bottom: 60px;
  right: 140px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  svg {
    fill: $color-component;
  }
}

.show {
  opacity: 1;
}
